body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
}

/* Main header */
.title, .subtitle, .paragraph {
    text-align: center;
}

/* Main title */
.title {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 200;
    line-height: 1px;
}

/* Main subtitle */
.subtitle {
    font-weight: 600;
    font-size: 20px;
    color: hsl(234, 12%, 34%)
}

/* Main paragraph */
.paragraph {
    color: hsl(229, 6%, 66%);
}

/* Card Supervisor */
.supervisor {
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-top: hsl(180, 62%, 55%) 5px solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/* Card Builder */
.builder {
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-top: hsl(0, 78%, 62%) 5px solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Card Karma */
.karma {
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-top: hsl(34, 97%, 64%) 5px solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Card Calculator */
.calculator {
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-top: hsl(212, 86%, 64%) 5px solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

/* Cards Titles */
.supervisor__title, .builder__title, .karma__title, .calculator__title {
    font-size: 16px;
    padding-top: 1vh;
    padding-left: 2vh;
    color: hsl(234, 12%, 34%)
}

/* Cards Paragraphs */
.supervisor__paragraph, .builder__paragraph, .karma__paragraph, .calculator__paragraph {
    font-size: 15px;
    padding-left: 2vh;
    color: hsl(229, 6%, 66%);
}

/* Cards Imgs */
.supervisor__img, .builder__img, .karma__img, .calculator__img {
    margin-top: 3vh;
    margin-left: 23vh;
}

/* Shadows */
.supervisor, .builder, .karma, .calculator {
    box-shadow: 0px 7px 7px 7px rgba(167, 180, 182, 0.521);
}

@media (min-width: 768px) and (max-width: 769px) {
    .builder {
        margin-top: -29vh;
    }
    
    .supervisor {
        position: relative;
        top: 32vh;
        margin-left: 10vh;
    }

    .calculator {
        position: relative;
        left: 19vh;
        bottom: 29.9vh;
    }

    .karma {
        position: relative;
        top: 34vh;
    }
}

@media (min-width: 1024px) and (max-width: 1025px) {
    .supervisor {
        position: relative;
        top: 20vh;
        right: 38vh;
    }

    .builder {
        position: relative;
        bottom: 30vh;
    }

    .karma {
        position: relative;
        bottom: 30vh;
    }

    .calculator {
        position: relative;
        left: 38vh;
        bottom: 73vh;
    }
}

@media (min-width: 1200px) and (max-width: 1201px) {
    .supervisor {
        position: relative;
        top: 20vh;
        right: 38vh;
    }

    .builder {
        position: relative;
        bottom: 30vh;
    }

    .karma {
        position: relative;
        bottom: 30vh;
    }

    .calculator {
        position: relative;
        left: 38vh;
        bottom: 73vh;
    }
}

@media (min-width: 1279px) and (max-width: 1281px) {
    .supervisor {
        position: relative;
        top: 13vh;
        right: 35vh;
    }

    .builder {
        position: relative;
        bottom: 30vh;
    }

    .karma {
        position: relative;
        bottom: 30vh;
    }

    .calculator {
        position: relative;
        left: 35vh;
        bottom: 73vh;
    }
}

@media (min-width: 1400px) and (max-width: 1504px) {
    .supervisor {
        position: relative;
        top: 15vh;
        right: 35vh;
    }

    .builder {
        position: relative;
        bottom: 30vh;
    }

    .karma {
        position: relative;
        bottom: 30vh;
    }

    .calculator {
        position: relative;
        left: 35vh;
        bottom: 69vh;
    }
}

@media (min-width: 1920px) and (max-width: 1921px) {
    .supervisor {
        position: relative;
        top: 15vh;
        right: 35vh;
    }

    .builder {
        position: relative;
        bottom: 30vh;
    }

    .karma {
        position: relative;
        bottom: 28vh;
    }

    .calculator {
        position: relative;
        left: 35vh;
        bottom: 69vh;
    }
}